Repository coala/cEPs, pull requests merged in 2018-08, with the labels that each got.

#113 cEP-0015.md: corobo enhancement
  cEP-0015.md
Labels: New cEP, process/approved, size/M

#173 .gitignore: Add .gitignore
  .gitignore
  .moban.yaml
Labels: difficulty/low, process/pending review, size/L

#174 cEP-0010.md: Add `min_file_length` in cEP
  cEP-0010.md
Labels: process/approved, size/XS

#171 cEP-0028: Optimizing coala for language server
  cEP-0028.md
Labels: New cEP, process/approved, size/L
