Repository coala/cEPs, pull requests merged in 2018-07, with the labels that each got.

#114 cEP-0016.md: Commit Content Inspection
  cEP-0016.md
Labels: New cEP, difficulty/low, importance/high, process/approved, size/S

#142 cEP-0024.md: GitMate Plugins
  cEP-0024.md
Labels: New cEP, process/approved, size/M

#170 cEP-0018.md: Add information about fixes
  cEP-0018.md
Labels: process/approved, size/M
